<div class="modal" id="modal-newTag" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<a href="#" class="close" role="button" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</a>
			<h5 class="modal-title">Create new tag</h5>
			<form id="newTagForm">
				<div class="form-group">
					<label for="tagName" class="required">name</label>
					<input id="tagName" type="text" name="tagName" class="form-control" placeholder="Tag" required="required"/>
				</div>

				<div class="text-right">
					<input class="btn btn-primary btn-block" type="submit" value="Create collection"/>
				</div>
			</form>
		</div>
	</div>
</div>
