<div class="modal show" id="modal-recoverykey" tabindex="-1" role="dialog" data-overlay-dismissal-disabled="true" data-esc-dismissal-disabled="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content w-500">
			<h2 class="modal-title">Account recovery key</h2>
			<h5>
				<em>{{ recoverykey }}</em>
			</h5>
			<hr/>
			<span class="badge badge-danger">Important</span>
			<p>
				Store this recovery key in a secure place. Qrest can't access this recovery key after closing this window. A new recovery key can only be generated after succesful login.
			</p>
			<div
				class="text-right mt-20">
				<!-- text-right = text-align: right, mt-20 = margin-top: 2rem (20px) -->
				<button class="btn btn-primary" role="button">I understand</button>
			</div>
		</div>
	</div>
</div>
