<div class="modal" id="modal-removeCollection" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<a onclick="halfmoon.toggleModal('modal-removeCollection')" class="close" role="button" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</a>
			<h5 class="modal-title">Delete collection</h5>
			<p>...</p>
			<div class="text-right">
				<input class="btn btn-default" type="submit" value="Cancel" onclick="halfmoon.toggleModal('modal-removeCollection')"/>
				<form id="removeCollectionForm" class="d-inline">
					<input class="btn btn-danger" type="submit" value="Delete collection"/>
				</form>
			</div>
		</div>
	</div>
</div>
