<div class="row m-20">
    <div class="col-md-2 hidden-md-and-down"></div>
    <div class="col">
        <h1 class="text-center mt-5 mb-0 brand">Qrest.</h1>
        <p class="text-center">
            <em>Your privacy first productivity platform</em>
        </p>
        <hr class="w-350 mx-auto my-5" />
        <!-- <h2 class="text-center" id="about">About</h2> -->
        <div class="row">
            <div class="col-md-4 text-right p-20">
                <img src="img/logo-square.png" width="150" height="150" />
            </div>
            <div class="col-md-7">
                <p>
                    Designed for privacy, Qrest helps you to manage your day to
                    day business while keeping your sensitive data safe and
                    secure. We worry about your privacy so that you don't have
                    to.
                </p>
                <button
                    class="btn btn-primary mb-2"
                    onclick="showSignUpModal()"
                >
                    Get started
                </button>
            </div>
        </div>
        <hr class="w-350 mx-auto my-5" />
        <h2 class="text-center" id="features">Before you start</h2>
        {#
        <div class="row flex-row-reverse flex-md-row align-items-center my-10">
            #}
            <div
                class="row flex-column-reverse flex-md-row align-items-center my-10"
            >
                <div class="col-md-5">
                    <div class="card" id="encryption">
                        <div class="card-body">
                            <h5 class="card-title">TL;DR</h5>
                            <p class="card-text">
                                If you forget your password or lose your account
                                recovery key, your encrypted data becomes
                                permanently inaccessible
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 p-20 p-md-0">
                    <p class="">
                        <span class="badge badge-pill badge-secondary"
                            >Read carefully</span
                        >
                    </p>
                    <p>
                        All your data is encrypted with a random key that is
                        private to you. This key can
                        <strong>only</strong>
                        be accessed with your password or with your account
                        recovery passphrase. Your password and account recovery
                        passphrase will not be stored on the server and Qrest
                        has absolutely no possibility to recover your key
                        without your password or account recovery passphrase.
                    </p>
                </div>
            </div>
            <hr class="w-350 mx-auto my-5" />
            <h2 class="text-center" id="features">Features</h2>
            <div class="row my-10">
                <div class="col-md-4">
                    <div class="card" id="encryption">
                        <div class="card-body">
                            <h5 class="card-title">End-to-End Encryption</h5>
                            <p class="card-text">
                                All your data is end-to-end encrypted and
                                stored, meaning only you have access to your
                                tasks and notes.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" id="management">
                        <div class="card-body">
                            <h5 class="card-title">
                                Easy Task and Note Management
                            </h5>
                            <p class="card-text">
                                Organize your tasks and notes with ease using
                                our simple and intuitive interface.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" id="accessibility">
                        <div class="card-body">
                            <h5 class="card-title">Access Anywhere, Anytime</h5>
                            <p class="card-text">
                                With our cloud-based app, you can access your
                                tasks and notes from anywhere, at any time, on
                                any device.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2 hidden-md-and-down"></div>
    </div>
</div>
