{% extends "document/error.twig" %}

{% block title %}404 - Page not found
{% endblock %}
{% block errorbody %}
	<h1 class="http-error">404</h1>
	<p>
		<strong>We can't find the page you're looking for...</strong>
	</p>
{% endblock %}
