{% extends "document/error.twig" %}

{% block title %}501 - Function not implemented
{% endblock %}
{% block errorbody %}
	<h1 class="http-error">501</h1>
	Internal fuction not implemented
{% endblock %}
