<li class="has-uid d-flex justify-content-between align-items-center rounded mb-0 px-10 py-5" data-type="tag" data-id="{{ item.uid }}">
	<div>
		<span class="icon">
			<i class="fa-solid fa-tag"></i>
		</span>
		<span>{{ item.name }}</span>
	</div>
	<i class="fa-solid fa-ellipsis icon-more"></i>
</li>
